<!DOCTYPE html>
<html     xmlns:th="http://www.thymeleaf.org">
<head>
   <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"  rel="stylesheet">
   
</head>
<div class="container">
<h1 class="text-primary text-center"> Employees Registration page </h1>
<script language="JavaScript" th:src="@{/js/validation.js}" >
</script>
<form  th:object="${empFrm}"   onsubmit="return validate(this)"  method="POST">
   <table class="table table-responsive " bgcolor="cyan" >
      <tr>
        <td>Employee name :: </td>
        <td> <input type="text" th:field="*{ename}"/> <span   class="text-danger"  th:errors="*{ename}"/> <span  id="enameId"></span> </td>
      </tr>
      <tr>
        <td>Employee desg :: </td>
        <td> <input type="text" th:field="*{job}"/> <span   class="text-danger" th:errors="*{job}"/> <span  id="jobId"></span> </td>
      </tr>
      <tr>
        <td>Employee salary :: </td>
        <td> <input type="text" th:field="*{sal}"/> <span  class="text-danger"  th:errors="*{sal}"/> <span  id="salId"></span>  </td>
      </tr>
      <tr>
        <td>Employee deptno :: </td>
        <td>  <select th:field="*{deptNo}">
                    <option th:each="dno:${deptsInfo}" th:value="${dno}" th:text="${dno}" th:selected="10" />
             </select> 
             </td>  
      </tr>
      <tr>
          <td><input type="hidden" th:field="*{vflag}"/> </td> 
        <td  > <input type="submit"  value="register"> </td> 
      </tr>
   </table>
</form>
 </div>
 </html>